@import "../../variables";
::-webkit-selection {
  color: $brand-background;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-background;
  background: $brand-primary;
}

::selection {
  color: $brand-background;
  background: $brand-primary;
}

.fh5co-heading h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}

#fh5co-about-section {
  padding-bottom: 2em;
  padding-top: 2em;
}

.fh5co-heading {
  margin-bottom: 0;
}

.about-inner {
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  #fh5co-about-section {
    padding: 1em 0;
  }
}

.about-inner img {
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
}

.sidebar {
  float: left;
  width: 100%;
  padding-left: 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
  .sidebar {
    padding-left: 0 !important;
    border-left: none !important;
  }
}

.sidebar .side {
  margin-bottom: 40px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  font-family: "Arial", sans-serif;
  font-display: swap;
  list-style: none;
  padding: 5px 0;
}

.sidebar ul li a {
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.sidebar ul li a:hover {
  color: $brand-primary;
  text-decoration: none;
}
