@import "../../variables";
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
a {
  color: $brand-primary;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: $brand-primary;
  outline: none;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", "Arial", serif;
  font-display: swap;
  font-weight: 400;
  margin: 0 0 30px 0;
  letter-spacing: 1px;
}

::-webkit-selection {
  color: $brand-background;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-background;
  background: $brand-primary;
}

::selection {
  color: $brand-background;
  background: $brand-primary;
}

#fh5co-header {
  padding: 40px 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

#fh5co-header:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hamburger {
  padding: 0px;
}

#fh5co-header .header-inner {
  float: left;
  width: 100%;
}

#fh5co-header h1 {
  float: left;
  padding: 0;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-display: swap;
}

#fh5co-header h1 i {
  color: $brand-primary;
}

#fh5co-header h1 a {
  color: $brand-text;
}

#fh5co-header h1 a:hover,
#fh5co-header h1 a:active,
#fh5co-header h1 a:focus {
  text-decoration: none;
  outline: none;
}

#fh5co-header nav {
  float: left;
  padding: 0;
}

#fh5co-header nav ul {
  padding: 0;
  margin: 0 0 0 0;
}

#fh5co-header nav ul li {
  padding: 20px;
  height: 40px;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: block;
  zoom: 1;
}

#fh5co-header nav ul li a {
  color: $brand-text;
  font-size: 16px;
  padding: 4px 15px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#fh5co-header nav ul li a:hover {
  text-decoration: none;
  color: $brand-text;
}

#fh5co-header nav ul li a.active,
#fh5co-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
  color: $brand-text;
  background: $brand-primary;
  border: none;
  display: block;
}

.hideMenuContent,
.showMenuContent {
  position: absolute;
  background: $brand-background;
  z-index: 1;
  transition: all linear 0.3s;
  height: 112px;
  left: -10px;
  right: 0px;
}

.hideMenuContent {
  height: 0px;
}

.hideMenuContent ul {
  visibility: hidden;
}

.showMenuContent ul {
  display: block;
}

@media only screen and (min-width: 736px) {
  #fh5co-header nav ul li {
    display: inline-block;
    padding: 0;
    height: 0px;
  }
  #fh5co-header {
    margin: 0px 0 0 0;
  }
}
