<header id="fh5co-header" role="banner">
  <div class="container">
    <div class="header-inner">
      <!-- Mobile view hamburger menu -->
      <nav role="navigation" class="d-none d-md-block d-lg-block d-xl-block">
        <ul>
          <li>
            <a class="active" href="index.html">Home</a>
          </li>
          <li>
            <a href="blog.html">Resume</a>
          </li>
          <!-- <li>
            <a href="portfolio.html">Contact</a>
          </li> -->
          <!-- <li>
            <a href="services.html">Services</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li> -->
        </ul>
      </nav>
      <!-- desktop view tab menu -->
      <nav id="navigation" class="d-md-none d-lg-none d-xl-none">
        <div class="hamburger hamburger--spin" [ngClass]='{ "is-active":toggleFlag}' (click)="toggleMenu()">
          <div class=" hamburger-box ">
            <div class="hamburger-inner "></div>
          </div>
        </div>

        <div class="" [ngClass]='{ "showMenuContent":toggleFlag, "hideMenuContent":!toggleFlag}'>
          <ul>
            <li>
              <a class="active" href="index.html">Home</a>
            </li>
            <li>
              <a href="blog.html">Resume</a>
            </li>
            <!-- <li>
              <a href="portfolio.html">Contact</a>
            </li> -->
            <!-- <li>
              <a href="services.html">Services</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
