<div class="profile">
  <div class="profile-name">
    <span class="name">Pranesh</span>
    <br>
    <span class="job">Front End Engineer</span>
  </div>
  <div class="profile-image">
    <img src="./assets/images/common/profile_pic.jpg" alt="">
  </div>

  <ul class="profile-information">
    <li>
      <p>
        <span>Name:</span> Pranesh Udumapet Hanumanth</p>
    </li>
    <li>
      <p>
        <span>Birthday:</span> 4 March 1990</p>
    </li>
    <li>
      <p>
        <span>Job:</span> Technology Analyst At Infosys Ltd</p>
    </li>
    <li>
      <p>
        <span>Email:</span>
        <a href="mailto:pranesh229@gmail.com">pranesh229@gmail.com </a>
      </p>
    </li>
    <li>
      <p>
        <span>Phone:</span>
        <a href="tel:+1-510-759-9237">+1(510)-759-9237 </a>
      </p>
    </li>
  </ul>
  <div class="col-md-12">
    <a *ngIf='resumePath' href={{resumePath}} class="site-btn icon" target="_blank">Download Profile
      <i class="fa fa-download" aria-hidden="true"></i>
    </a>
  </div>
</div>
