$fa-font-path: '../node_modules/font-awesome/fonts';
.site-btn {
  font-size: 14px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 1px 29px;
  line-height: 35px;
}

.site-btn.icon i {
  color: #000;
  background: #fff;
  margin-left: 15px;
  border-radius: 50px;
  font-size: 11px;
  height: 27px;
  width: 27px;
  float: right;
  text-align: center;
  line-height: 29px;
  margin-top: 4px;
}
