/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
// @import url("https://use.typekit.net/mfk4ebh.css");
@import "variables";
// @import '../node_modules/font-awesome/scss/font-awesome';
// @import '../node_modules/bootstrap/scss/bootstrap';
body {
  background: $brand-background;
}

.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

a {
  color: $brand-primary;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: $brand-text;
  outline: none;
}

p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

h2,
h3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", "Arial", serif;
  font-display: swap;
  font-weight: 400;
  margin: 0 0 0px 0;
  letter-spacing: 1px;
}

.mat-card {
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07) !important;
}

p {
  margin-bottom: 10px;
}

app-resume h2 {
  margin-bottom: 20px;
  margin-top: 30px;
}

app-about-me h2 {
  margin-bottom: 10px;
}
